.noteList .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}
.noteList .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
 .note {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
  border-radius: 5px;

  display: flex;
}  
.remove {
  margin-right: 15px;
  margin-bottom: 5px;
  }
.edit input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}
.detail {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
 
  }
.title {
  font-size: 25px;
  color: #333;
  }